.main-footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: var(--footer-color);
}

.main-navigation {
    padding-top: 40px;
    float: right;
    
}

.container-footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-brands {
    color:  var(--second-color);
    font-size:  35px;
    margin-right: 15px;
}

.main-paragraph.-footer {
    color: var(--second-color);
    font-size: 23px;
    margin-top: 33px;
}

@media screen and ( max-width: 890px ) {
    .container-footer {
        width: 80%;
    }
}

@media screen and ( max-width: 660px ) {
    .container-footer {
        width: 90%;
    }
    .main-paragraph.-footer {
        font-size: 20px;
    }
    .fa-brands {
        font-size: 32px;
    }
}

@media screen and ( max-width: 530px ) {
    .container-footer {
        width: 96%;
    }
}

@media screen and ( max-width: 500px ) {
    .container-footer {
        width: 90%;
    }
    .main-paragraph.-footer {
        font-size: 18px;
    }
    .fa-brands {
        font-size: 29px;
        margin-right: 13px;
    }
}

@media screen and ( max-width: 476px ) {
    .main-paragraph.-footer {
        font-size: 16px;
    }
}