#main-section {
    width: 100%;
    margin-bottom: 100px;
}

.main-title.-about-me {
    color: var(--first-color);
    margin-top: 100px;
}
/*começa primeiro container*/
.container-main-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-main-section.-second {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.main-img {
    width: 550px;
    height: 450px;
    margin-right: 149px;
    margin-top: 50px;
}

.main-paragraph.-school {
    width: 50%;
    text-align: left;
    margin-top: 180px;
    margin-left: 84px;
}

/*começa segundo container*/

.main-img.-second {
    width: 550px;
    height: 450px;
    margin-left: 121px;
    margin-top: 0px;
}

.main-paragraph.-second {
   width: 50%;
   text-align: right;
   margin-top: 105px;
   margin-right: 185px;
}

@media screen and ( max-width: 1148px ) {
    .main-img.-second {
        width: 550px;
        height: 450px;
        position: relative;
        margin-left: 84px;
    }
    
    .main-paragraph.-second {
        margin-right: 149px;
        font-size: 30px;
    }
    .main-paragraph.-school {
        font-size: 30px;
    }
}

@media screen and ( max-width: 952px ) {
    .main-img {
        width: 450px;
        height: 350px;
    }
    .main-img.-second {
        width: 450px;
        height: 350px;
    }

    .main-paragraph.-school {
        margin-top: 100px;
        font-size: 25px;
    }
    .main-paragraph.-second {
        margin-top: 0px;
        font-size: 25px;
    }
}

@media screen and ( max-width: 731px ) {
    .main-img {
        width: 450px;
        height: 350px;
    }
    .main-img.-second {
        width: 450px;
        height: 350px;
        margin-right: 0px;
    }

    .main-paragraph.-school {
        width: 50%;
        margin-top: 100px;
        font-size: 20px;
        
    }
    .main-paragraph.-second {
        width: 50%;
        margin-top: 0px;
        font-size: 20px;
        text-align: right;
    }
}

@media screen and ( max-width: 500px ) {
    .main-title.-about-me {
        font-size: 55px;
    }

    .container-main-section {
        margin-bottom: 25px;
    }

    .main-img {
        width: 250px;
        height: 250px;
        margin-right: 20px;
    }
    .main-img.-second {
        width: 250px;
        height: 250px;
        margin-right: 0px;
        margin-left: 20px;
    }

    .main-paragraph.-school {
        width: 50%;
        margin-top: 100px;
        margin-left: 20px;
        font-size: 18px;
        
    }
    .main-paragraph.-second {
        width: 50%;
        margin-top: 0px;
        margin-right: 20px;
        font-size: 18px;
        text-align: right;
    }
}