#main-section {
    width: 100%;
    margin-bottom: 100px;
}

.main-title.-about-me {
    color: var(--first-color);
    margin-top: 100px;
    text-align: center;
}
/*começa primeiro container*/
.container-main-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.main-img {
    width: 550px;
    height: 450px;
    margin-right: 149px;
    margin-top: 50px;
}

.main-paragraph.-school {
    width: 750px;
    text-align: left;
    margin-top: 170px;
    margin-left: 84px;
}

/*começa segundo container*/
.container-main-section.-second {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.main-img.-second {
    width: 550px;
    height: 450px;
    margin-left: 149px;
    margin-top: 0px;
}

.main-paragraph.-second {
   width: 750px;
   text-align: right;
   margin-top: 45px;
   margin-right: 184px;
}

@media screen and ( max-width: 1148px ) {

}