:root {
    --first-color: #000;
    --modern-color: #2a2a2a;
    --footer-color: #141b24;
    --second-color: #fff;
    --white-modern-color: #e2e2e2;
    
    --color-circle-html: #04fc43;
    --main-circle-color: #191919;
}