.section-contact {
    width: 100%;
    height:  850px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-register {
    width: 500px;
    height: 500px;
}

.register {
    padding:  10px;
}

.main-paragraph.-register {
    font-size: 20px;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid var(--first-color);
    padding: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;;
}

.main-input.-message { 
    padding: 20px;
    max-width: 500px;
    max-height: 100px;
}

.btn-submit {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s;
}

.btn-submit:hover {
    width: 260px;
    height: 60px;
    background-color: var(--modern-color);
    transition: all 0.3s;
}

@media screen and ( max-width: 500px ) {
    .container-register {
        margin-left: 218px;
    }
}