.section-projects {
   width: 100vw;   
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-title.-projects {
    color: var(--first-color);
    margin-bottom: 60px;
}

.container-projects {
    width: 835px;
    height: 260px;
    display: flex;
    justify-content: center;    
    border-bottom: 2px solid var(--white-modern-color);
}

.img-projects {
    width: 250px;
    height: 250px;
    margin-right: 25px;
    transition: all 0.3s;
}

.img-projects:hover {
    transition: all 0.3s;
    width: 260px;
    height: 260px;
}

.arrow-down {
    height: 150px;
}

.fa-chevron-down {
    animation: boucing 2s ease alternate infinite;
    font-size: 70px;
    cursor: pointer;
}

@keyframes boucing {
    to {
        transform: translateY(30px);
    }
}